<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration>
          <fieldMap>
            <fieldNames>
              <field fieldName="geolocation">
                <patch:attribute name="type" value="Sitecore.Support.XA.Foundation.Search.Providers.Azure.Geospatial.GeoPoint, Sitecore.Support.7170" />
              </field>
            </fieldNames>
          </fieldMap>
          <indexFieldStorageValueFormatter>
            <patch:attribute name="type" value="Sitecore.Support.ContentSearch.Azure.Converters.CloudIndexFieldStorageValueFormatter, Sitecore.Support.7170" />
          </indexFieldStorageValueFormatter>
          <fields>
            <field fieldName="geolocation">Sitecore.Support.XA.Foundation.Search.Providers.Azure.ComputedFields.AzureCoordinate, Sitecore.Support.7170</field>
          </fields>
          <cloudTypeMapper>
            <maps>
              <map patch:instead="*[@type='Sitecore.XA.Foundation.Search.Providers.Azure.Geospatial.GeoPoint, Sitecore.XA.Foundation.Search.Providers.Azure']" type="Sitecore.Support.XA.Foundation.Search.Providers.Azure.Geospatial.GeoPoint, Sitecore.Support.7170" cloudType="Edm.GeographyPoint" />
            </maps>
          </cloudTypeMapper>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>